<nz-layout>
  <nz-content>
      <div nz-row>
        <div nz-col nzSpan="24">
            <ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px;" >
                <li *ngFor="let button of navigationButtons" nz-menu-item >{{ button.btnName }}</li>
              </ul>
              <div class="main-image-block">
                <img class="main-picture" src="../../../assets/images/main/main_picture.jpg" alt="main picture">
                <div class="primery-text"  nz-col nzSpan="12" nzOffset="6">
                  <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h1>
                  <button nz-button nzType="default" nzSize="large">Enter</button>
                </div>
              </div>
        </div>
      </div>
  </nz-content>
</nz-layout>
